@{
    ViewBag.Title = "Modules";
}

<article class="test-module callout hero"  focusable-objects>
    <div>
        <section class="text">
            <h1 class="text-shadow">
                <span>Callout</span>
                Module
            </h1>
            <blockquote>Lorem ipsum dolor sit amet</blockquote>
            <a href="javascript:void(0)" class="button shadow">Lorem</a>
        </section>
    </div>
</article>
<article class="test-module boxes after-hero-fade">
    <div>
        <h2 class="text-shadow">Boxes Module</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet leo blandit eleifend placerat. Maecenas at maximus lorem. Mauris at sem euismod, consequat dui quis, dapibus risus. In hac habitasse platea dictumst. Aenean iaculis mattis urna at mattis. Pellentesque dolor odio, vulputate eget finibus nec, lacinia quis tortor. Vivamus commodo turpis nec nulla blandit pellentesque. Nunc fringilla, diam sed pretium dapibus, sem neque auctor quam, quis cursus massa nunc eget eros.</p>
        <section class="boxes-container">
            <div class="shadow">
                <div>
                    <section class="content">
                        <h3>Lorem ipsum</h3>
                        <figure class="green">&#xf025;</figure>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet leo blandit eleifend placerat. Maecenas at maximus lorem.</p>
                    </section>
                </div>
            </div>
            <div class="shadow">
                <div>
                    <section class="content">
                        <h3>Lorem ipsum</h3>
                        <figure class="blue">&#xf086;</figure>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet leo blandit eleifend placerat. Maecenas at maximus lorem.</p>
                    </section>
                </div>
            </div>
            <div class="shadow">
                <div>
                    <section class="content">
                        <h3>Lorem ipsum</h3>
                        <figure class="yellow">&#xf0c0;</figure>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet leo blandit eleifend placerat. Maecenas at maximus lorem.</p>
                    </section>
                </div>
            </div>
        </section>
    </div>
</article>
<article class="test-module profilecards light">
    <div>
        <h2 class="text-shadow">Profile Cards Module</h2>
        <section class="cards-container">
            <div class="shadow">
                <section class="content">
                    <figure>
                        <img src="@Url.Content("~/assets/img/test-profile.jpg")" alt="Alternate Text" />
                    </figure>
                    <div>
                        <h3 title="LoremIpsum DolorAmet">LoremIpsum DolorAmet</h3>
                        <ul class="social-links">
                            <li>
                                <a href="javscript:void(0)" class="twitch" title="Twitch"></a>
                            </li>
                            <li>
                                <a href="javscript:void(0)" class="twitter" title="Twitter"></a>
                            </li>
                            <li>
                                <a href="javscript:void(0)" class="instagram" title="Instagram"></a>
                            </li>
                            <li>
                                <a href="javscript:void(0)" class="facebook" title="Facebook"></a>
                            </li>
                        </ul>
                        <ul class="other-links">
                            <li>
                                <a href="javscript:void(0)">Beam</a>
                            </li>
                            <li>
                                <a href="javscript:void(0)">PodBean</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="shadow">
                <section class="content">
                    <figure>
                        <img src="@Url.Content("~/assets/img/test-profile.jpg")" alt="Alternate Text" />
                    </figure>
                    <div>
                        <h3 title="LoremIpsum DolorAmet">LoremIpsum DolorAmet</h3>
                        <ul class="social-links">
                            <li>
                                <a href="javscript:void(0)" class="twitch" title="Twitch"></a>
                            </li>
                            <li>
                                <a href="javscript:void(0)" class="twitter" title="Twitter"></a>
                            </li>
                            <li>
                                <a href="javscript:void(0)" class="instagram" title="Instagram"></a>
                            </li>
                            <li>
                                <a href="javscript:void(0)" class="facebook" title="Facebook"></a>
                            </li>
                        </ul>
                        <ul class="other-links">
                            <li>
                                <a href="javscript:void(0)">Beam</a>
                            </li>
                            <li>
                                <a href="javscript:void(0)">PodBean</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="shadow">
                <section class="content">
                    <figure>
                        <img src="@Url.Content("~/assets/img/test-profile.jpg")" alt="Alternate Text" />
                    </figure>
                    <div>
                        <h3 title="LoremIpsum DolorAmet">LoremIpsum DolorAmet</h3>
                        <ul class="social-links">
                            <li>
                                <a href="javscript:void(0)" class="twitch" title="Twitch"></a>
                            </li>
                            <li>
                                <a href="javscript:void(0)" class="twitter" title="Twitter"></a>
                            </li>
                            <li>
                                <a href="javscript:void(0)" class="instagram" title="Instagram"></a>
                            </li>
                            <li>
                                <a href="javscript:void(0)" class="facebook" title="Facebook"></a>
                            </li>
                        </ul>
                        <ul class="other-links">
                            <li>
                                <a href="javscript:void(0)">Beam</a>
                            </li>
                            <li>
                                <a href="javscript:void(0)">PodBean</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="shadow">
                <section class="content">
                    <figure>
                        <img src="@Url.Content("~/assets/img/test-profile.jpg")" alt="Alternate Text" />
                    </figure>
                    <div>
                        <h3 title="LoremIpsum DolorAmet">LoremIpsum DolorAmet</h3>
                        <ul class="social-links">
                            <li>
                                <a href="javscript:void(0)" class="twitch" title="Twitch"></a>
                            </li>
                            <li>
                                <a href="javscript:void(0)" class="twitter" title="Twitter"></a>
                            </li>
                            <li>
                                <a href="javscript:void(0)" class="instagram" title="Instagram"></a>
                            </li>
                            <li>
                                <a href="javscript:void(0)" class="facebook" title="Facebook"></a>
                            </li>
                        </ul>
                        <ul class="other-links">
                            <li>
                                <a href="javscript:void(0)">Beam</a>
                            </li>
                            <li>
                                <a href="javscript:void(0)">PodBean</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </section>
    </div>
</article>
<article class="test-module simplecards">
    <div>
        <h2 class="text-shadow">Simple Cards Module</h2>
        <section class="cards-container">
            <div class="shadow">
                <div>
                    <section class="content">
                        <figure>
                            <img src="@Url.Content("~/assets/img/test-avatar.png")" alt="Alternate Text" />
                        </figure>
                        <div>
                            <h6 title="Lorem Ipsum Dolor Amet">Lorem Ipsum Dolor Amet</h6>
                            <h5>LoremIpsum DolorAmet</h5>
                        </div>
                    </section>
                </div>
            </div>
            <div class="shadow">
                <div>
                    <section class="content">
                        <figure>
                            <img src="@Url.Content("~/assets/img/test-avatar.png")" alt="Alternate Text" />
                        </figure>
                        <div>
                            <h6 title="Lorem Ipsum Dolor Amet">Lorem Ipsum Dolor Amet</h6>
                            <h5>LoremIpsum DolorAmet</h5>
                        </div>
                    </section>
                </div>
            </div>
            <div class="shadow">
                <div>
                    <section class="content">
                        <figure>
                            <img src="@Url.Content("~/assets/img/test-avatar.png")" alt="Alternate Text" />
                        </figure>
                        <div>
                            <h6 title="Lorem Ipsum Dolor Amet">Lorem Ipsum Dolor Amet</h6>
                            <h5>LoremIpsum DolorAmet</h5>
                        </div>
                    </section>
                </div>
            </div>
            <div class="shadow">
                <div>
                    <section class="content">
                        <figure>
                            <img src="@Url.Content("~/assets/img/test-avatar.png")" alt="Alternate Text" />
                        </figure>
                        <div>
                            <h6 title="Lorem Ipsum Dolor Amet">Lorem Ipsum Dolor Amet</h6>
                            <h5>LoremIpsum DolorAmet</h5>
                        </div>
                    </section>
                </div>
            </div>
            <div class="shadow">
                <div>
                    <section class="content">
                        <figure>
                            <img src="@Url.Content("~/assets/img/test-avatar.png")" alt="Alternate Text" />
                        </figure>
                        <div>
                            <h6 title="Lorem Ipsum Dolor Amet">Lorem Ipsum Dolor Amet</h6>
                            <h5>LoremIpsum DolorAmet</h5>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</article>
<article class="test-module freetext light">
    <div>
        <h2 class="text-shadow">Freetext Module</h2>
        <h3>Lorem ipsum dolor sit amet.</h3>
        <h4>Lorem ipsum dolor sit amet.</h4>
        <h5>Lorem ipsum dolor sit amet.</h5>
        <h6>Lorem ipsum dolor sit amet.</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet leo blandit eleifend placerat. Maecenas at maximus lorem. Mauris at sem euismod, consequat dui quis, dapibus risus. In hac habitasse platea dictumst. Aenean iaculis mattis urna at mattis. Pellentesque dolor odio, vulputate eget finibus nec, lacinia quis tortor. Vivamus commodo turpis nec nulla blandit pellentesque. Nunc fringilla, diam sed pretium dapibus, sem neque auctor quam, quis cursus massa nunc eget eros.</p>
        <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ul>
    </div>
</article>
<article class="test-module gallery">
    <div>
        <h2 class="text-shadow">Gallery Module</h2>
        <ul class="image-container" focusable-objects>
            <li>
                <figure>
                    <img src="@Url.Content("~/assets/img/test.jpg")" alt="Alternate Text" />
                </figure>
                <ul class="links-container">
                    <li>
                        <a href="@Url.Content("~/assets/img/test.jpg")" download target="_blank">1920x1080</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1680x1050.jpg")" download target="_blank">1680x1050</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1440x900.jpg")" download target="_blank">1440x900</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1366x768.jpg")" download target="_blank">1366x768</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1024x768.jpg")" download target="_blank">1024x768</a>
                    </li>
                </ul>     
            </li>
            <li>
                <figure>
                    <img src="@Url.Content("~/assets/img/test.jpg")" alt="Alternate Text" />
                </figure>
                <ul class="links-container">
                    <li>
                        <a href="@Url.Content("~/assets/img/test.jpg")" download target="_blank">1920x1080</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1680x1050.jpg")" download target="_blank">1680x1050</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1440x900.jpg")" download target="_blank">1440x900</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1366x768.jpg")" download target="_blank">1366x768</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1024x768.jpg")" download target="_blank">1024x768</a>
                    </li>
                </ul>
            </li>
            <li>
                <figure>
                    <img src="@Url.Content("~/assets/img/test.jpg")" alt="Alternate Text" />
                </figure>
                <ul class="links-container">
                    <li>
                        <a href="@Url.Content("~/assets/img/test.jpg")" download target="_blank">1920x1080</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1680x1050.jpg")" download target="_blank">1680x1050</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1440x900.jpg")" download target="_blank">1440x900</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1366x768.jpg")" download target="_blank">1366x768</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1024x768.jpg")" download target="_blank">1024x768</a>
                    </li>
                </ul>
            </li>
            <li>
                <figure>
                    <img src="@Url.Content("~/assets/img/test.jpg")" alt="Alternate Text" />
                </figure>
                <ul class="links-container">
                    <li>
                        <a href="@Url.Content("~/assets/img/test.jpg")" download target="_blank">1920x1080</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1680x1050.jpg")" download target="_blank">1680x1050</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1440x900.jpg")" download target="_blank">1440x900</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1366x768.jpg")" download target="_blank">1366x768</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1024x768.jpg")" download target="_blank">1024x768</a>
                    </li>
                </ul>
            </li>
            <li>
                <figure>
                    <img src="@Url.Content("~/assets/img/test.jpg")" alt="Alternate Text" />
                </figure>
                <ul class="links-container">
                    <li>
                        <a href="@Url.Content("~/assets/img/test.jpg")" download target="_blank">1920x1080</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1680x1050.jpg")" download target="_blank">1680x1050</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1440x900.jpg")" download target="_blank">1440x900</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1366x768.jpg")" download target="_blank">1366x768</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1024x768.jpg")" download target="_blank">1024x768</a>
                    </li>
                </ul>
            </li>
            <li>
                <figure>
                    <img src="@Url.Content("~/assets/img/test.jpg")" alt="Alternate Text" />
                </figure>
                <ul class="links-container">
                    <li>
                        <a href="@Url.Content("~/assets/img/test.jpg")" download target="_blank">1920x1080</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1680x1050.jpg")" download target="_blank">1680x1050</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1440x900.jpg")" download target="_blank">1440x900</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1366x768.jpg")" download target="_blank">1366x768</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/assets/img/test-1024x768.jpg")" download target="_blank">1024x768</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</article>
<article class="test-module promo light" focusable-objects>
    <div>
        <figure class="shadow">
            <img src="@Url.Content("~/assets/img/test-400x400.jpg")" alt="Promo Image" />
        </figure>
        <section>
            <h2 class="text-shadow">Promo Module - Left</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet leo blandit eleifend placerat. Maecenas at maximus lorem. Mauris at sem euismod, consequat dui quis, dapibus risus. In hac.</p>
            <a href="javascript:void(0)" class="button shadow">Lorem Ipsum</a> 
        </section>
    </div>
</article>
<article class="test-module promo" focusable-objects>
    <div>
        <h2 class="text-shadow mobile">Promo Module - Right</h2>
        <figure class="right shadow">
            <img src="@Url.Content("~/assets/img/test-400x400.jpg")" alt="Promo Image" />
        </figure>
        <section>
            <h2 class="text-shadow desktop">Promo Module - Right</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet leo blandit eleifend placerat. Maecenas at maximus lorem. Mauris at sem euismod, consequat dui quis, dapibus risus. In hac.</p>
            <a href="javascript:void(0)" class="button shadow">Lorem Ipsum</a>
        </section>
    </div>
</article>